# Ignore Python & RobotFramework cache
__pycache__/
*.pyc

# Ignore reports and screenshots (except final ones)
*.png
*.jpg
*.jpeg
*.log

# Ignore IDE and environment files
.idea/
.venv/
.vscode/
*.xml

# Keep specific reports
!log.html
!report.html
!output.xml
